TASK_SLEEP_S=1

# MongoDB info
MONGO_URL=mongodb://jstorforumro:
MONGO_DBNAME=jstorforumro
MONGO_COLLECTION=jstorforum-dev
MONGO_COLLECTION_ITEST=integration_test
HARVEST_COLLECTON=jstor_published_summary
REPOSITORY_COLLECTION=jstor_repositories 
RECORD_COLLECTION=jstor_records
JSTOR_HARVESTED_RECORDS=jstor_harvested_records
JSTOR_TRANSFORMED_RECORDS=jstor_transformed_records
JSTOR_PUBLISHED_RECORDS=jstor_published_records

# s3 info for via bucket
S3_VIA_ENDPOINT=
S3_VIA_ACCESS_KEY=
S3_VIA_SECRET_KEY=
S3_VIA_BUCKET=
S3_VIA_REGION=

# s3 info for ssio bucket
S3_SSIO_ENDPOINT=
S3_SSIO_ACCESS_KEY=
S3_SSIO_SECRET_KEY=
S3_SSIO_BUCKET=
S3_SSIO_REGION=

# s3 info for aspace bucket
S3_ASPACE_ENDPOINT=
S3_ASPACE_ACCESS_KEY=
S3_ASPACE_SECRET_KEY=
S3_ASPACE_BUCKET=
S3_ASPACE_REGION=

JSTOR_HARVEST_DIR=
JSTOR_TRANSFORM_DIR=
JSTOR_HARVEST_DIR=
JSTOR_HARVEST_CONFIG=
JSTOR_HARVEST_TEST_CONFIG=

HARVEST_IGNORE_DIRS=
TRANSFORM_IGNORE_DIRS=

CONCAT_SCRIPT_PATH=/home/jstorforum/ltstools/bin/concat-files.sh
VIA_SCRIPT_PATH=/home/jstorforum/ltstools/via/bin/via_export.py
VIA_SCRIPT_CONFIG=/home/jstorforum/ltstools/via/conf/via_export.yaml
WEED_SCRIPT_PATH=/home/jstorforum/ltstools/bin/weed_files.py
WEED_SCRIPT_CONFIG=/home/jstorforum/ltstools/conf/weed_files.yaml

PRIMO_INCR_LOG=/home/jstorforum/logs/jstor_publisher/primo_export_incr.log
PRIMO_FULL_LOG=/home/jstorforum/logs/jstor_publisher/primo_full_incr.log
LC_INCR_LOG=/home/jstorforum/logs/jstor_publisher/lc_export_incr.log
LC_FULL_LOG=/home/jstorforum/logs/jstor_publisher/lc_export_full.log

PUBLISH_PRIMO=True
PUBLISH_LC=True